<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1 class="heading">Student CRUD App</h1>
    <div class="container">
      <div class="section-C"></div>
      <div class="section-RD"></div>
      <div class="section-U"></div>
    </div>
    <script type="module" src="./api.js"></script>
    <script type="module" src="./display.js"></script>
  </body>
</html>
