<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapixel</title>
</head>
<body>
    <h1>Chào mừng bạn đến với <a href="https://rapixel.com">rapixel</a>, sân chơi rap lành mạnh cho các rapper ít vốn liếng và muốn thử sức với môn nghệ thuật này</h1>

    <span>Đã có tài khoản? <a href="/login">Login</a> thôi!</span>
    <!-- <form th:action="@{/login}" method="post"> -->
        <!-- <input type="submit" name="sign-in" id="redirect-to-signin-btn" value="Đăng nhập">
    </form> -->


</body>
</html>